# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and databases
*.log
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.cache
nosetests.xml
coverage/
*.coveragerc
*.pylintrc

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.env.*
.venv/
env/
env.bak/
venv.bak/

# IDE files
.vscode/
.idea/

# FastAPI static files (if generated)
static/
