# ROBOTLAB_X_ID=default
# ROBOTLAB_X_NAME=default
# ROBOTLAB_X_DESCRIPTION=None
# ROBOTLAB_X_VERSION=0.0.0
# ROBOTLAB_X_CREATED=None
# ROBOTLAB_X_MODIFIED=None
# ROBOTLAB_X_DEBUG=False
# ROBOTLAB_X_LOG_LEVEL=INFO
# ROBOTLAB_X_LOG_FORMAT=text
# ROBOTLAB_X_LOG_UV_ACCESS_ENABLED=True
# ROBOTLAB_X_PORT=8001
# ROBOTLAB_X_CORS_ORIGIN=*
# ROBOTLAB_X_NUM_PIPELINES=0
# ROBOTLAB_X_AUTH_TYPE=local
# ROBOTLAB_X_JWT_SECRET=
# ROBOTLAB_X_AUTH_SESSION_TTL_SECONDS=86400
# ROBOTLAB_X_AUTH_SESSION_IDLE_TIMEOUT_SECONDS=1800
# ROBOTLAB_X_JWT_ACCESS_TOKEN_TTL_MINUTES=1440
# ROBOTLAB_X_SSL_ENABLED=False
# ROBOTLAB_X_RESOURCE_MONITOR_ENABLED=True
# ROBOTLAB_X_APP_SERVER_ENABLED=True
# ROBOTLAB_X_DATABASE_TYPE=lowdb
# ROBOTLAB_X_DATA_DIR=data
# ROBOTLAB_X_REPO_DIR=repo
# ROBOTLAB_X_REPO_PATHS=None
# ROBOTLAB_X_REGISTRIES=None
# ROBOTLAB_X_RUNTIME_ID=None
# ROBOTLAB_X_REGISTRY_URL=file:///tmp/repo/catalog.yml
# ROBOTLAB_X_AUTH_BOOTSTRAP=first_user_claim
